.balance {
    display: grid;
    width: 450px; 
    height: 256px;
    background: #FFF;
}

.balance-title {
    margin: 0;
    height: 28px;
    line-height: 1.5em;
}
.balance-title > p {
    display: flex;
    justify-content: center;
}


.balance-body {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    margin: 16px;
    line-height: 1.5em;
}

.balance-body .num-col {
    text-align: end;
}