.balance {
    display: grid;
    width: 608px; 
    height: 256px;
    background: #FFF;
}

.balance.title {
    margin: 0;
}
.balance-title > p {
    display: flex;
    justify-content: center;
}

.balance-title > hr {
    color: rgba(128, 128, 128, 0.1);
    width: 50%;
    margin-left: 25%;
}

.balance-body {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    margin: 16px;
}

.balance-body .num-col {
    text-align: end;
}