body {
	margin: 32px 64px 32px 64px;
    background: var(--bg);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}


.cards-right {
    display: grid;
    grid-template-columns: 280px 280px;
    margin: 0;
    gap: 16px;
}