body {
	margin: 32px 16px 32px 16px;
    background: var(--bg);
}

.cards {
    display: grid;
    gap: 0.16vw;
}

.cards-left {
    display: grid;
    grid-template-columns: 280px 280px;
    margin: 0;
    gap: 16px;
}