.card {
    display: grid;
    margin: 0;
    width: 280px; 
    height: 156px;
    gap: 4px;
}

.card-title {
    width: 280px;
    height: 40px;
    background: #FFF;
    border: 1px solid var(--grey);
}

.card-title > p {
    display: block;
    display: flex;
    justify-content: center;
}

.card-body {
    width: 280px;
    height: 112px;
    background: #FFF;
    border: 1px solid var(--grey);
}

.card-body > p {
    display: flex;
    justify-content: center;
}

.card-body > span {
    display: flex;
    justify-content: center;
}