.card {
    display: grid;
    width: 212px; 
    height: 122px;
    gap: 4px;
}

.card-title {
    width: 212px;
    height: 32px;
    background: #FFF;
    border: 1px solid var(--grey);
}

.card-title > p {
    display: flex;
    justify-content: center;
}

.card-body {
    width: 212px;
    height: 86px;
    background: #FFF;
    border: 1px solid var(--grey);
}

.card-body > p {
    display: flex;
    justify-content: center;
}

.card-body > span {
    display: flex;
    justify-content: center;
}